
.contacto{
    h5{
        display:flex;
        font-size: 40px;
        text-decoration:underline $Bl-negro;
        text-align: center;
        justify-content: center;
        animation: slideIn 3s ease-in-out;
      }
    
      @keyframes slideIn {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
    
    .formulario{
        display: flex;
        padding-top:60px;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: $Rb-claro;
        gap: 3px;
     }

     form{ div{ label {
        font-size: 30px;
        padding: 9px;
        text-shadow: 2px 1px 2px $Bl-negro;
           }
        }
    }
}


    
   
        
  