$Cafe-cos: #f5c181;
$Rb-claro: #d9d9d9;
$Bl-negro: #000000;
$Ag-blues: #589dbd;
$Mr-gris: #cfb4b437;
$Bn-amarillo: #fcfc44 ;
$fl-rosa: #ffa4b3;
$pt-verdoso: #9bec9b;
$Rj-oscuro: #c82d47;
$Ag-blue: #0000ff;